*.class
.idea/
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


target/
*.iml


# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
yttresearch-frontend/dist
yttresearch-frontend/tmp

# dependencies
yttresearch-frontend/node_modules

# IDEs and editors
yttresearch-frontend/.idea
yttresearch-frontend.project
yttresearch-frontend.classpath
yttresearch-frontend.c9/
yttresearch-frontend*.launch
yttresearch-frontend.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
yttresearch-frontend/.sass-cache
yttresearch-frontend/connect.lock
yttresearch-frontend/coverage/*
yttresearch-frontend/libpeerconnection.log
yttresearch-frontend/npm-debug.log
yttresearch-frontendtestem.log
yttresearch-frontend/typings

# e2e
yttresearch-frontend/e2e/*.js
yttresearch-frontend/e2e/*.map

#System Files
yttresearch-frontend/.DS_Store
yttresearch-frontend/Thumbs.db
