<div *ngIf="error" class="col-xs-8 col-xs-offset-4"> 
    <img class="img-responsive" width="50%" height="50%" src="assets/no-result.png"/>
    <h3> <small> Server looks down... </small></h3>
</div>
<div *ngIf="!error && loading" class="col-xs-8 col-xs-offset-4"> 
    <img class="img-responsive" width="50%" height="50%" src="assets/loading.svg"/>
    <h3> <small> Loading categories... </small></h3>
</div>

<div *ngIf="!error && !loading" class="col-xs-12"> 
    <div [ng2-highcharts]="chartOptions"> </div>
</div>
