<!DOCTYPE html>
<html>
    <head>
        <title>Video Dissemination</title>
        <link rel="stylesheet"  href="{{url_for('static',filename='css/bootstrap.min.css')}}">
        <script  src="{{url_for('static',filename='scripts/jquery.js')}}"></script>
        <script  src="{{url_for('static',filename='scripts/highcharts.js')}}"></script>
        <script  src="{{url_for('static',filename='scripts/exporting.js')}}"></script>
        <script  src="{{url_for('static',filename='scripts/main.js')}}"></script>
    </head>
    <body>
        <div class="container text-center">
            <h1>YouTube Videos Dissemination through Twitter </h1>
        </div>
        <div class="container">
            <div id="experiment" class="row"> </div>
            <div class="row">
                <form onsubmit="return graph(event);" class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="graph-option">Graph</label>
                        <div class="col-sm-10">
                            <select id="graph-option">
                                <option value="Area Under Curve"> Area Under Curve </option>
                                <option value="Features1"> Features Importance for Each Group</option>
                                <option value="Features2"> Features Importance </option>
                            </select>
                        </div>
                    </div>
                    <div id ="class-features1" style="display: none">
                        <div  class="form-group">
                            <label class="control-label col-sm-2" for="class-features1-option">AUC Option</label>
                            <div class="col-sm-10">
                                <select id="class-features1-option">
                                    <option value="Popular_YouTube">Popular-YouTube </option>
                                    <option value="Popular_Twitter">Popular-Twitter </option>
                                    <option value="Popular_Both">Popular-Both </option>
                                    <option value="Viral_YouTube">Viral-YouTube </option>
                                    <option value="Viral_Twitter">Viral-Twitter </option>
                                    <option value="Viral_Both">Viral-Both </option>
                                    <option value="Popular_Viral_YouTube">Popular-Viral-YouTube </option>
                                    <option value="Popular_Viral_Twitter">Popular-Viral-Twitter </option>
                                    <option value="Popular_Viral_Both">Popular-Viral-Both </option>
                                </select>
                            </div>
                        </div>
                        <div  class="form-group">
                            <label class="control-label col-sm-2" for="key-features1-option">Age</label>
                            <div class="col-sm-10">
                                <select id="key-features1-option">
                                    <option value="all_old">Old </option>
                                    <option value="all_recent">Recent </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id ="class-features2" style="display: none">
                        <div  class="form-group">
                            <label class="control-label col-sm-2" for="class-features2-option">Features</label>
                            <div class="col-sm-10">
                                <select id="class-features2-option">
                                    <option value="youtube">YouTube Features </option>
                                    <option value="twitter">Twitter Features </option>
                                    <option value="both"> Both Features </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="key-features2-option">Age</label>
                            <div class="col-sm-10">
                                <select id="key-features2-option">
                                    <option value="all_old">Old </option>
                                    <option value="all_recent">Recent </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group"> 
                        <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="row">
                <div id="graph" style="height: 600px"> </div>

            </div>
        </div>
    </body>
</html>

                <!--<div id="container" style="width:100%; height:100px;"></div>-->